// Place all the styles related to the public/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  padding:0;
  margin:0;
  border:none;
}

h4 {
  /*線の種類（実線） 太さ 色*/
  border-bottom: solid 3px black;
}