<div class="p-3 mb-2 bg-light">
<div class="container">

  <h1 class="text-center mt-4 mb-4">About</h1>

  <div class="mx-auto my-3 py-3">
  <h4 class="text-center">ホテルが旅の目的そのものになるように。</h4>
  <h4 class="text-center">おすすめのホテルを投稿できるSNSを作りました。</h4>
  <h4 class="text-center">みんなの投稿を閲覧したり、自分で投稿したりし、共有できます。</h4>
  <h4 class="text-center">投稿を見てそこのホテルに行きたいと思えたり</h4>
  <h4 class="text-center">少しでも旅行気分を味わえたりするようなサイトです。</h4>
  </div>

  <div id="box">
    <div id="images">
      <div class="image6"></div>
      <div class="image7"></div>
      <div class="image8"></div>
      <div class="image9"></div>
      <div class="image10"></div>
    </div>
  </div>

</div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="link-text text-left">
      <% if current_user = admin_signed_in? %>
        <%= link_to admin_posts_path, class: "btn bgleft btn-sm pl-3 pr-3" do %>
          <h3 span><i class="fas fa-book-open"></i> 投稿一覧に戻る(管理者はこちら)</h3>
        <% end %>
      <% end %>
    </div>
  </div>
</div>