<div class="p-3 mb-2 bg-light">
<div class="container">

  <h1 class="text-center mt-4 mb-4">About</h1>

  <div class="mx-auto">
  <p class="text-center">ホテルが旅の目的そのものになるように。</p>
  <p class="text-center">おすすめのホテルを投稿できるSNSを作りました。</p>
  <p class="text-center">みんなの投稿を閲覧したり、自分で投稿したりし、みんなで共有できます。</p>
  <p class="text-center">投稿を見てそこのホテルに行きたいと思えたり</p>
  <p class="text-center">少しでも旅行気分を味わえたりするようなサイトです。</p>
  </div>

  <div id="box">
    <div id="images">
      <div class="image6"></div>
      <div class="image7"></div>
      <div class="image8"></div>
      <div class="image9"></div>
      <div class="image10"></div>
    </div>
  </div>

</div>
</div>