<div class="container">

  <h1 class="text-center mt-4 mb-4">About</h1>

  <div class="mx-auto">
  <p class="text-center">ホテルが旅の目的そのものになるように。</p>
  <p class="text-center">おすすめのホテルを投稿できるSNS。</p>
  <p class="text-center">みんなの投稿を閲覧したり、自分で投稿したりし、みんなで共有できる。</p>
  <p class="text-center">投稿を見てそこのホテルに行きたいと思い旅行の計画ができるようなサイトに。</p>
  </div>

</div>