<div class="p-3 mb-2 bg-light">
  <div class="container">
    <div class="row my-3">
      <div class="col-12">
        <h2 class="font-weight-bold">タグ一覧</h2>
  　　  　<% @tag_list.each do |list|%>
          <%=link_to list.name,search_tag_path(tag_id: list.id) %>
          <%="(#{list.posts.count})" %>
        <% end %>
      </div>
    </div>
    <%= link_to edit_admin_tag_path(1), class: "btn bgleft btn-sm pl-3 pr-3" do %>
      <h5 span><i class="fas fa-cog"></i> 編集する</h5>
    <% end %>
  </div>
</div>