<% if current_user.followings?(user) %>
  <div class='profile__button-box'>
    <%= link_to user_follow_path(user_id: user.id), method: :delete, class: 'button__outline-black', remote: true do %>
      <span><i class="fas fa-cog"></i>フォロー外す</span>
    <% end %>
  </div>
<% else %>
  <div class='profile__button-box'>
    <%= link_to user_follows_path(user_id: user.id), method: :post, class: 'button__black', remote: true do %>
      <span><i class="fas fa-cog"></i>フォローする</span>
    <% end %>
  </div>
<% end %>