<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <h2>Follower Users</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>name</th>
            <th colspan='3'></th>
          </tr>
        </thead>
        <% @followings.each do |follower| %>
          <tbody>
            <tr>
              <td>
                <%= follower.name %>
              </td>
              <td>
                <p>フォロー数：<%= follower.followings.count %></p>
              </td>
              <td>
                <p>フォロワー数：<%= follower.followers.count %></p>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>