<div class="p-3 mb-2 bg-light">
  <div class="col-md-10">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center mb-5">
          <h1 class="fonr-weight-bold">投稿一覧</h1>
          <h4 class="m-0 text-center pt-2">(全<%= @posts.count %>件)</h4>
        </div>
      </div>

      <%= render partial:"list", locals: {posts: @posts} %>

      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <%= paginate @posts %>
        </div>
      </div>
      
      <% else %>
        <div class="row mb-3">
          <div class="col">
            <h5>投稿はありません</h5>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>