<% if users.present? %>
  <% users.each do |user| %>

      <div class="col-3">
        <h4 label>ユーザー名:<%= link_to user.name, admin_user_path(user.id), class:"h4" %></h4>
      </div>

      <div class="col-4">
        <h4 label>メールアドレス:<%= user.email %></h4>
      </div>

      <div class="col-4">
        <h4 label>登録日:<%= user.created_at.strftime('%Y/%m/%d') %></h4>
      </div>

    <% if user.is_deleted==true %>
      <h4 class="text-danger font-weight-bold">退会</h4>
    <% else %>
      <h4 class="text-success font-weight-bold">有効</h4>
    <% end %>

      <table class="table table-bordered">
        <tr>
          <%= link_to edit_admin_user_path(user), class: "btn bgleft btn-sm pl-3 pr-3" do %>
            <h5 span><i class="fas fa-cog"></i> 編集する</h5>
          <% end %>
        </tr>
      </table>
  <% end %>
<% else %>
  <div class="row mb-3">
    <div class="col offset-md-1">
      <h5>該当なし</h5>
    </div>
  </div>
<% end %>