<div class="container">
  <div class="p-3 mb-2">
    <h2 class="py-3 font-weight-bold">ユーザー一覧（全<%= @users.size %>件）</h2>

    <%= render partial: "/admin/users/list", locals: {users: @users} %>

  </div>
</div>