<div class = "col-md-6">
  <div class = "row">
    <table class="table table-bordered">
      <tr>
        <td class="font-weight-bold table-secondary">ユーザー名</td>
        <td><%= f.text_field :name ,class: "form-control" %></td>
      </tr>
      <tr>
        <td class="font-weight-bold table-secondary">メールアドレス</td>
        <td><%= f.email_field :email ,class: "form-control" %></td>
      </tr>
    </table>
  </div>
</div>